<%= form_for @position, remote: true, html: { class: 'form-inline' } do |f| %>
<div class="">
  <div class="row">
    <div class="col col-sm-10 col-sm-offset-1">
      <%= f.text_field :name, placeholder: 'Name', class: 'form-control'%>
    </div>
  </div>
  <div class="row" style="margin-top: 15px">
    <div class="col col-sm-10 col-sm-offset-1" style="height: 150px">
      <%= f.text_area :desc, placeholder: 'Description', class: 'form-control', style: 'height: 150px; width: 100%' %>
    </div>
  </div>
  <div class="row">
    <div class="" style="float: right !important; margin-right: 20px">
      <%= f.button :submit, class: 'btn btn-warning' do %>
      <span class="glyphicon glyphicon-send"></span>
      <% end %>
    </div>
  </div>
</div>
<% end %>
