<div class="container">
  <div class="form-signin">
    <%= form_for(@user, url: auth_path, html: { class: ''}) do |f| %>
    <%= f.email_field :email, class: 'form-control', placeholder: 'Email' %>
    <%= f.password_field :password, class: 'form-control', placeholder: 'Password' %>
    <div class="checkbox">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
    <%= f.submit 'Log In', class: 'btn btn-lg btn-warning btn-block'%>
    <% end %>
  </div>
</div>
