<%= form_for(@user, url: auth_path) do |f| %>
  <div class="">
    <%= f.email_field :email, class: 'class_', placeholder: 'Email' %>
    <%= f.password_field :password, class: '', placeholder: 'Password' %>
  </div>
  <%= f.submit 'Log In', class: '' %>
<% end %>

<br><br>
===================================
