<h1>Danh sách các thiết bị:</h1>
<!-- sử dụng biến @devices để ghi vào nhé, vào tìm file ./app/views/devices/index.html.erb để sửa theo uueey cầu của sản phẩm -->
<!-- <% @devices.each do |d| %>
  <%= d.to_s %>
<% end %> -->
<%= 'Hiện chưa có thiết bị nào được hiện thị' if @devices.blank? %>
  <%= render @devices if @devices.present? %>
