$("#simple_modal").find('.modal-body').html("<%= j render partial: 'users/form', object: @user  %>");
<% @title =  "#{ @user.new_record? ? "<h3>Create User</h3>" : "<h3>Update User</h3>" }" %>
$("#simple_modal").find('.modal-title').html("<%= @title.html_safe %>");
$("#simple_modal").modal('show');
