<head>
  <style>
  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
    width: 100%;
    margin: auto;
  }
  </style>
</head>
<body  style="background-color: gray">
  <div class="row col col-sm-8 col-sm-offset-2" style="background-color: white; margin-top: 0px !important">
    <div class="col col-sm-12">
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators" hidden="" style="position: absolute">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <img src="http://www.dut.udn.vn/modules/mod_btslideshow/images/188/slideshow/aunaq1copy.jpg" alt="Chania">
          </div>
          <div class="item center">
            <img src="http://www.dut.udn.vn/modules/mod_btslideshow/images/188/slideshow/aunaq1.jpg" alt="Chania">
          </div>
        </div>
      </div>
    </div>
    <div class="col col-sm-12" style="background-color: orange; height: 2px; box-shadow: 2px 10px 5px orange;">
    </div>
    <div class="col col-sm-12">
      <h3>Vision:</h3>
      <td>
        <p>
          University of Science and Technology - The University of Danang (DUT) will become a leading university in Southeast Asia.

        </p>
      </td>
    </div>

    <div class="col col-sm-12">
      <h3>Mission:</h3>
      <td>
        <p>
          DUT is a research university educating qualified graduates, providing excellent science and technology resources to serve the sustainable socio-economic development of Vietnam, especially the Central area and Highlands. -->
        </p>
      </td>
    </div>
  </div>
</body>
