<%= form_for @light_plan, remote: true, html: { class: 'form-inline' } do |f| %>
  <div class="form-group row">
    
    <div class="input-group bootstrap-timepicker timepicker">
      <input id="timepicker1" type='text' name="name" value="" class="form-control input-small">
      <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
      <input type="time" name="name" value="" class=" form-control input-small">
    </div>
    <%= f.text_field :date, placeholder: 'When', class: 'form-control' %>
    <%= f.text_field :status, placeholder: 'Action', class: 'form-control'%>
    <div class="modal-footer">
      <%= f.button :submit, class: 'btn btn-warning' do %>
      <span class="glyphicon glyphicon-send"></span>
      <% end %>
    </div>
  </div>
<% end %>
