<%= form_for @category, method: :post do |f| %>
  <div class="">
    <%= f.text_field :name, class: '', placeholer: 'Name' %>
  </div>
  <div class="">
    <%= f.text_area :desc, class: '', placeholer: 'Desciption' %>
  </div>
  <%= f.submit class: ''%>
<% end %>
