<table class="table table-striped">
  <thead>
    <tr>
      <%= "<th>Name</th>".html_safe if @current_user.admin? %>
      <th>Device</th>
      <th>Rank</th>
      <th>Description</th>
      <th>Date</th>
      <th>Status</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: 'reports/report', collection: @reports, as: :report %>
  </tbody>

</table>
