<div class=" reports-table row col-sm-10 col-sm-offset-1">
  <table class="table table-striped">
    <thead>
      <tr>
        <%= "<th>Name</th>".html_safe if @current_user.admin? %>
        <th>Device</th>
        <th>Rank</th>
        <th>Description</th>
        <th>Date</th>
        <th>Status</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: 'reports/report', collection: @reports, as: :report %>
    </tbody>
  </table>
</div>
<%= render 'modals/simple_modal' %>
